.footer {
  width: 100%;
  margin-top: auto;
  padding: 0.5rem 3rem;
  background-color: #008724;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  span {
    color: #6fff96;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .current-date {
    text-align: center;
  }

  .user {
    min-width: -webkit-min-content;
    flex: 1;
  }

  .login-time {
    min-width: -webkit-min-content;
    flex: 1;
    text-align: right;
  }
}
